.setting-container {
	width: 50%;
	text-align: center;
	padding: 10px;
	margin: 10px auto;
	border-radius: 10px;
	border: 2px solid #000000;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	align-items: center;
	justify-items: center;
}
.run-container {
	width: 50%;
	text-align: center;
	padding: 10px;
	margin: 10px auto;
	border-radius: 10px;
	border: 2px solid #000000;
	display: grid;
	grid-template-columns: auto auto auto;
}

.output-container {
	width: 50%;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input[type="number"] {text-align: right;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}